
# PGHOST: Im guessing that you are running the server locally if not change field
PGHOST=localhost 
# PGUSER: Your postgres userName
PGUSER= exampleUser
# PGDATABASE: Your database name
PGDATABASE= exampleDatabaseName
# PGPASSWORD: Your password 
PGPASSWORD=
# PGPORT: If you have to use a specific port change field 
# defaultPort = 3000
PGPORT=3000

# JWT_SECRET: can be whatever you want!
JWT_SECRET=bananaExample
# ROUNDS: If you want more or less than 12 rounds of hashing change field
# NOTE: Default value is set to 12 if ROUNDS not present in .env or field is left empty
ROUNDS=12